body { 
  margin: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #4B0082;
}

h1 {
font-family: sans-serif;
color: black;
font-size: 100px;
margin-left: 650px;
margin-top: 25px;

}

